<!DOCTYPE html>
<html lang="en">
<%- include("includes/head") %>
<body>
    <%- include("includes/header") %>
    <main>
        <!-- angle bracket percent equal means it'll show as an echo and be safe -->
        <h1><%= post.title %></h1>
        <article>
            <small> Posted by <%= post.username %> on <%= new Date(post.createdDate).getMonth()+1 %>/<%= new Date(post.createdDate).getDate() %>/<%= new Date(post.createdDate).getFullYear() %></small>
            <div>
                <body>
                    <%= post.content %>
                </body>
            </div>
        </article>

        <% if(isAuthor)
        { %>

        <a href="/edit-post/<%= post.id %>" class="button">Edit Post</a>

        <form style="display: inline" action="/delete-post/<%= post.id %>" method="POST">
            <button>Delete Post</button>
        </form>
        <%
        }%>

        
    </main>

    <%- include("includes/footer") %>
</body>
</html>